/* Adam Silberman 6/1/2020 */

/*Style for body specifies backgoung color */
body {
	background-color: #929292;
}
h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Style to create a fluid image */
img {
	max-width: 100%;
	max-height: 80%;
}

/* Styles for Mobile Layout */

/* Style for container centers the page and sets the element width */
#container {
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center-aligns content */
header {
	text-align: center;
}

/* Style for nav specifies text properties */
nav {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	margin-top: -1.5em;
	
}

/* Style specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #000000;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
	border-style: dotted;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #FFD563;
	text-decoration: underline;
}

/* Style for main specifies a block display, text properties, margins, padding, rounded corners, and border properties */
main {
	display: block;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 2em 0 2em 0;
	background-color: #FFFFFF;
	opacity: 0.85;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
	color: #FFFFFF;
}

/* Style for anchor elements within the footer element */
footer a {
	color: #000000;
	text-decoration: none;
}